html{
	font-family: Arial;
}
table{
	border-collapse: collapse;
	margin: 20px auto;
}
td, th{
	padding: 10px 20px;
	border: 1px solid lightgrey;
}
tr{
	cursor: pointer;
}
tr.active{
	background-color: lightblue;
	border: 2px solid black;
	border-bottom: none;
}
tr.active td{
	border-bottom: none;
}
.filter-container,
.coins-container{
	text-align: center;
}
input{
	display: inline-block;
	width: 150px;
}
.coin-price{
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
}
.favorited td:last-child{
	background-color: yellow;
}